@{
    ViewBag.Title = "Home Page";

}

<div class="container body-content">
    <div class="col-md-12">
        <div class="col-md-6" style="border: 1px solid white; border-radius: 20px; background-color: #012131; margin-top: 10px;">
            <img class ="hpimg"src="https://pbs.twimg.com/profile_images/1412502625350676480/VEKgUKGn_400x400.png" />
            <h1 style="font-family:monospace;color:white;">File Management System</h1>
            <p class="lead" style="font-family:monospace;color:white;">Manage Your Dropbox Files</p>
            <p><a href="/Home/LoginAsync" id="btnlogin" class="btn btn-primary btn-lg mybtn" >Lets Start &raquo;</a></p>
        </div>
    </div>
</div>


<style>
    
    .hpimg {
        margin-left:25%;
        width: 50%;
        padding: 2%;      
        margin-top: 3%;
        border: 2px solid white;
        border-radius: 20px;
        
    
    }
    .mybtn{
        font-family: monospace; 
        color: white; 
        border: 2px solid white;
        border-radius: 15px; 
        background-color: #012131;
    }
        .mybtn:hover {
            opacity:0.8;
            background-color:white;
            color:black;
        }
</style>